@model IEnumerable<ValueTuple<string, string>>

@{
    ViewBag.Title = "Test Identifiers";
}

<a id="top"></a>


<div class="col-md-12">
    <h3 style="margin: 25px 0 20px 0">@Html.Raw(Model.First().Item1.Contains('/') ? "Digitised" : "Born Digital") Identifiers</h3>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Identifier</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var pair in Model)
    {
        var label = pair.Item2;
        // bypass the identity service for these one-off pages
        var pathSafe = pair.Item1.Replace('/', '_');
        <tr>
            <td>@Html.ActionLink(pair.Item1, "Manifestation", "Dash", new { id = pathSafe }, new { })</td>
            <td>@label</td>
            <td>@Html.ActionLink("METS Root", "XmlView", "Peek", new { id = pathSafe }, new { })</td>
            <td>@Html.ActionLink("Storage manifest", "StorageManifest", "Peek", new { id = pathSafe }, new { })</td>
            <td>@Html.ActionLink("Workflow call", "WorkflowCall", "WorkflowCall", new { id = pathSafe }, new { })</td>
        </tr>
    }
    </tbody>
</table>
