@model List<MigrationStatus>

@{
    ViewBag.Title = "Dash: Recent Ingests";
}

<h1>Recent ingests (@Model.Count)</h1>

<div class="row" style="padding-top: 15px">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>b number</th>
                <th>Bagged</th>
                <th>Bag Size</th>
                <th>Ingest Date</th>
            </tr>
        </thead>
        <tbody>
            @foreach (MigrationStatus ms in Model)
            {
                <tr>
                    <td>@Html.ActionLink(ms.Identifier, "Migration", new {id = ms.Identifier})</td>
                    <td>@StringUtils.GetFriendlyAge(ms.BagDate)</td>
                    <td>@StringUtils.FormatFileSize(ms.BagSize)</td>
                    <td>@StringUtils.GetFriendlyAge(ms.IngestStart)</td>
                    <td></td>
                </tr>
            }
        </tbody>
    </table>
</div>
