@model string[]

@{
    ViewBag.Title = "Dash: Tail";
}

<h1>Workflow Processor Log tail</h1>

<p>Lines: 
    @Html.ActionLink("100", "TailWorkflowProcessor", "Dash", new { id = "100" }, new { }) |
    @Html.ActionLink("500", "TailWorkflowProcessor", "Dash", new { id = "500" }, new { }) |
    @Html.ActionLink("1000", "TailWorkflowProcessor", "Dash", new {id = "1000"}, new {}) | 
    @Html.ActionLink("View JobProcessor log", "TailJobProcessor", "Dash", new { id = "60" }, new { })</p>

<div class="row">
    <div class="col-md-12">
        <p>This log file is at @ViewBag.LogFilePath</p>
        <pre>
@string.Join("\r\n", Model)
        </pre>
    </div>
</div>
