@model CodeModel

@{
    ViewBag.Title = Model.Title;
}
<style media="screen">
    #aceView {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        height: 82vh;
    }
</style>

<div class="row" style="height:100%">
    <div class="col-md-12">
        <h3>
            @(Model.RelativePath ?? Model.Identifier.PackageIdentifier)
            <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            ( 
            <a href="@Model.Raw">Raw</a> 
            |
            @Html.ActionLink( "Manifestation", "Manifestation", "Dash", 
                new {id = Model.Identifier.PathElementSafe})
            @if (Model.AnchorFile.HasText())
            {
                @: | <a href="@Model.AnchorFile">Anchor file</a>
            } 
            @if (Model.IncludeLinksToFullBuild)
            {
                @: | <a href='@(Model.Raw + "?all=true")'>Full Build Raw</a> | 
                <a href='@(Model.Identifier.PackageIdentifier + "?all=true")'>@Model.Identifier.PackageIdentifier Full build</a>
            }
            )
        </h3>
        @if (Model.Description.HasText())
        {
            <p>@Model.Description</p>
        }
        @if (Model.ErrorMessage.HasText())
        {
            <div class="alert alert-danger" role="alert">@Model.ErrorMessage</div>
        }
    </div>
</div>

<div class="row" style="height:100%">
    <div class="col-md-12">
        <div id="aceView">@Model.CodeAsString</div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.1/ace.js"></script>
<script>
    var aceView = ace.edit("aceView");
    aceView.setTheme("ace/theme/chrome");
    aceView.session.setMode("@Model.Mode");
</script>

