@using Wellcome.Dds.AssetDomain.Mets

@model Wellcome.Dds.Dashboard.Models.TestModel
<!DOCTYPE html>
<html>
<body>
    <p>Hello from Wellcome.Dds.Dashboard</p>
    @if (Model.Message != null)
    {
<p>@Model.Message</p>
    }
    else
    {
<h2>@Model.Manifestation.MetsManifestation.Label</h2>

<ul>
    @foreach (IPhysicalFile f in Model.Manifestation.MetsManifestation.Sequence)
    {
        <li>(@f.AccessCondition) | @f.RelativePath has text @f.RelativeAltoPath</li>
    }

</ul>
}
</body>
</html>