@model JobsModel

@{
    bool isDetail = ViewData.ContainsKey("mode") && (string)ViewData["mode"] == "detail";
}

<table class="table table-hover table-condensed">
    <thead>
        <tr>
            @if (!isDetail)
            {
                <th><a class="all-toggle" href="#"><span class="glyphicon glyphicon-chevron-down"></span> </a></th>
                <th>Job</th>
            }
            <th>Manifestation</th>
            <th>Created</th>
            <th>Started</th>
            <th>Finished</th>
            <th>AssetType</th>
            <th>Assets</th>
        </tr>
    </thead>
    <tbody>

        @foreach (DlcsIngestJob job in Model.Jobs)
        {
            var manifestationId = Model.ManifestationIdentifiers[job.Id];
            <tr class="row-overview @Model.GetCssClassForJobRow(job)">
                @if (!isDetail)
                {
                    <td><a class="row-toggle" href="#"><span class="glyphicon glyphicon-chevron-down"></span> </a></td>
                    <td>@Html.ActionLink(job.Id.ToString(), "Index", "Job", new { id = job.Id }, new { })</td>
                }
                <td>@Html.ActionLink(manifestationId.Value, "Manifestation", "Dash", new { id = manifestationId.PathElementSafe }, new { })</td>
                <td>@StringUtils.GetLocalDate(job.Created)</td>
                <td>@StringUtils.GetLocalDate(job.StartProcessed)</td>
                <td>@StringUtils.GetLocalDate(job.EndProcessed)</td>
                <td>@job.AssetType</td>
                <td>@job.ImageCount</td>
            </tr>

            if (job.StartProcessed.HasValue && !job.EndProcessed.HasValue)
            {
                <tr class="@Model.GetCssClassForJobRow(job, isDetail)">
                    <td>@Html.Raw(Model.GetIconForJobRow(job))</td>
                    <td colspan="@(isDetail ? "5" : "7")">
                        This job is not marked as finished, and Succeeded=@job.Succeeded
                        @if (job.DlcsBatches != null)
                        {
                            <br/>
                            <text>It has @job.DlcsBatches.Count batches recorded.</text>
                        }
                    </td>
                </tr>
            }

            if (job.DlcsBatches.HasItems())
            {
                <tr class="@Model.GetCssClassForJobRow(isDetail)">
                    <td></td>
                    <td colspan="@(isDetail ? "5" : "7")">
                        <partial name="_localBatches" model="job.DlcsBatches" view-data="ViewData" />
                    </td>
                </tr>

            }
        }
    </tbody>
</table>