@model List<WorkflowJobWithIdentity>

<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>Created</th>
            <th>Taken</th>
            <th>Alto/s</th>
            <th>Error</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var job in Model)
        {
            <tr>
                <td>@Html.ActionLink(job.DdsIdentity.Value, "WorkflowCall", "WorkflowCall", 
                        new { id = job.DdsIdentity.PathElementSafe }, new { })</td>
                <td>@StringUtils.GetFriendlyAge(job.WorkflowJob.Created)</td>
                <td>@StringUtils.GetFriendlyAge(job.WorkflowJob.Taken)</td>
                <td>@job.WorkflowJob.GetAltoRate()</td>
                @if (job.WorkflowJob.Error.HasText())
                {
                    <td>@Html.ActionLink(job.WorkflowJob.Error, "MatchingErrors", "WorkflowCall", new { msg = job.WorkflowJob.Error }, new { })</td>
                }
                else
                {
                    <td></td>
                }
                </tr>
        }
    </tbody>
</table>
