@model List<Wellcome.Dds.AssetDomain.Workflow.WorkflowJob>
@using Wellcome.Dds.Dashboard.Models

<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>Created</th>
            <th>Taken</th>
            <th>Alto/s</th>
            <th>Error</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var workflowJob in Model)
        {
            <tr>
                <td>@Html.ActionLink(workflowJob.Identifier, "WorkflowCall", "WorkflowCall", new { id = workflowJob.Identifier }, new { })</td>
                <td>@StringUtils.GetFriendlyAge(workflowJob.Created)</td>
                <td>@StringUtils.GetFriendlyAge(workflowJob.Taken)</td>
                <td>@workflowJob.GetAltoRate()</td>
                @if (workflowJob.Error.HasText())
                {
                    <td>@Html.ActionLink(workflowJob.Error, "MatchingErrors", "WorkflowCall", new { msg = workflowJob.Error }, new { })</td>
                }
                else
                {
                    <td></td>
                }
                </tr>
        }
    </tbody>
</table>
